$headerHeight:100vh;
$headerBg: url(../img/m-h-night.jpg)center no-repeat;
$bgSize: cover;
$bgColors:#2c2f3c;
$btnColor: rgb(254,191,1);
$cardColor: #363a4d;
$cardTextColor: #ffffff;
$fontHeaderColor: #ffffff;
$gradient: linear-gradient(to right, rgb(254,191,1) 23%,rgb(255,101,93) 100%);
$underLineColor: rgb(255,101,93);
$bgRadius: 500px 250px;
