$headerHeight:100vh;
$headerBg: url(../img/m-h-day.jpg)center no-repeat;
$bgSize: cover;
$bgColors:#ffffff;
$btnColor: rgb(78, 150, 0);
$cardColor: #2c2f3c;
$cardTextColor: #ffffff;
$gradient: linear-gradient(to right, rgb(41,154,11) 23%,rgb(17,23,214) 100%);
$fontHeaderColor: #2c2f3c;
$underLineColor: rgb(135,206,250);
$bgRadius: 500px 250px;